# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.egg-info/

# Virtual Environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment Variables
.env

# Python Packaging
*.whl
*.tar.gz